@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');
.about-main
{
    /* background-color: #021D32; */
    
}

.about-column
{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.about-box
{
    width: 35%;
    background-color: white;
    padding: 40px;
    border-radius: 4px;
    /* border: solid rgb(119, 119, 119) 1px; */
    box-shadow: -30px 30px 0px 0px #FFD88B;
}

.about-text
{
    font-family: 'Open Sans Bold', sans-serif;
    line-height: 30px;
    /* font-weight: 900; */
    font-weight: normal;
    text-align: center;
}

.projectHeaderBox
{
    background-color: white;
    border-radius: 4px 4px 0px 0px;
}


.outerProjectsBox
{
    margin-top: 300px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.ProjectsBox
{
   display: flex;
   justify-content: flex-start;
   width: 50%;
}

.projectHeader
{
    font-family: 'Open Sans Bold', sans-serif;

    /* color: white; */
    font-weight: bold;
}