@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');


.footerMain
{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    background-color: #09283f;
}

.footerLeft, .footerCenter, .footerRight
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}



.footerHeader
{
    border-bottom: solid white 2px;
    margin: 0px;
    width: 90%;
    color: white;
}

.footerLink
{
    /* display: none; */
    margin: 20px 0px 0px 0px;
    color: white;
}

.footerIcon
{
    height: 20px;
    width: 20px;
}


.designedBy
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
}