.hero-Main {
    /* display: flex; */
    /* justify-content: center; */
    height: 700px;
}

.hero-inner {
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
    height: 80%;
    z-index: -0;
}

.hero-left {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: space-around; */
    width: 50%;
    z-index: 3;
}

.hero-inner-mobile {
    display: none;
}

#listDiv {
    margin: 10px 0px 10px 0px;
}

.list-div1, .list-div2, .list-div3 {
    position: absolute;
    top: 35%;
    left: 29%;
    /* width: 40%; */
    display: flex;
    justify-content: center;
    padding: 0px 30px 0px 30px;
    align-items: center;
    transition: 1s;
    z-index: 0;

}

.list-div1-bottom, .list-div2-bottom, .list-div3-bottom {
    position: absolute;
    top: 70%;
    left: 29%;
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
    transition: 1s;
    z-index: 0;

}

.list-div1-front, .list-div2-front, .list-div3-front {
    position: absolute;
    top: 52%;
    left: 34%;
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021D32;
    padding: 0px 30px 0px 30px;
    border-radius: 8px;
    box-shadow: -1px 10px 20px 5px rgb(197, 197, 197);
    transition: 1s;
    z-index: 1;


}

/* .list-div1-bottom
{
    top: 225px;
} */

.icon-div1, .icon-div2, .icon-div3, .icon-div1-bottom, .icon-div2-bottom, .icon-div3-bottom {
    position: relative;
    background-color: #021D32;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 20px;
    transition: 1s;
}

.icon-div1-front, .icon-div2-front, .icon-div3-front {

    background-color: #FEC961;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 20px;
    transition: 1s;

}

.list-header1, .list-header2, .list-header3, .list-header1-front, .list-header2-front, .list-header3-front, .list-header1-bottom, .list-header2-bottom, .list-header3-bottom {
    text-align: baseline;
    font-size: 1.4vw;
    margin-top: 1.6vw;
    margin-bottom: 1.6vw;
    letter-spacing: .2vw;
    white-space: nowrap;
    transition: 1s;

}

.list-header1-front, .list-header2-front, .list-header3-front {
    text-align: baseline;
    /* margin-top: 24px; */
    color: white;
    transition: 1s;

}


.hero-right {
    position: absolute;
    top: -65%;
    right: -35%;
    border-radius: 50%;
    background-color: #0993F6;
    height: 1500px;
    width: 1500px;
    max-width: 100vw;
    z-index: 0;
}


.hero-img-div {
    position: relative;
    top: 20%;
    left: 135%;
    /* border-radius: 50%; */
    /* z-index: 1; */
}

.portrait {
    width: 475px;
    /* z-index: 1; */
    transition: .5s;
}

.portrait2 {
    width: 30%;
    /* z-index: 1; */
    transition: .5s;
}


.squareIcon {
    width: 1.2em;
    z-index: 1;

}

.seperatorDiv {
    margin: 200px 0px 200px 0px;
    background-color: white;
}

@media screen and (max-height: 900px)
{
    .hero-right
    {
        top: -55%;
        right: -45%;
        height: 1300px;
    }
}

@media screen and (max-width: 1000px) {
    .seperatorDiv {
        margin: 50px 0px 50px 0px;
    }

    .hero-Main {
        height: 40vh;

    }

    .hero-inner {
        display: none;
    }

    .hero-right-mobile {
        height: 50%;
        padding: 15px 0px 15px 0px;
        background-color: #fafafa;

    }

    .portrait {
        border-radius: 0px;
    }

    .hero-left-mobile {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .hero-inner-mobile, .hero-right-mobile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-inner-mobile {
        height: 100%;
        align-items: space-around;
        justify-content: space-around;

    }

    .hero-img-div {
        display: flex;
        justify-content: center;
        top: auto;
        width: 100%;
        left: 0%;
    }

    .portrait {
        width: 40%;
        max-width: 400px;
    }

    .div-box-mobile {
        position: relative;
        top: 0%;
        display: flex;
        justify-content: flex-end;
        align-items: space-between;
        height: 100%;
        width: 45vw;
        margin: 10px 0px 0px 0px;
    }

    #iconDivMobile {
        width: 10px;
        height: 10px;
        border-radius: 2px;
    }

    .list-div1, .list-div2, .list-div3 {
        /* position: initial; */
        top: 0%;
        left: auto;
        padding: 15px 0px 15px 30px;


    }

    .list-div1-bottom, .list-div2-bottom, .list-div3-bottom {
        /* position: absolute; */
        top: 60%;
        left: initial;
        padding: 15px 0px 0px 30px;
        /* margin: 10px 0px 0px 0px; */

    }

    #listDivMobile {
        width: 100%;
        justify-content: flex-start;
        transition: .5s;
    }

    .list-div1-front, .list-div2-front, .list-div3-front {
        /* position: absolute; */
        top: 30%;
        left: -10%;
        padding: 6px 0px 6px 30px;
        margin: 6px 0px 0px 0px;
        z-index: 0;


    }

    #listHeaderMobile {
        font-size: 10px;
        margin-bottom: 4px;
    }


    /* #listDiv
    {
        position: relative;
        width: 40%;
        height: 10%;
        left: 15% !important;
    }
    .hero-inner
    {
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }
    .hero-left
    {
        position: relative;
        width: 100%;
        height: 45%;
    }
    .hero-right
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        right: 0%;
        height: 55%;
        top: 0%;

    }
    .hero-img-div
    {
        margin: 0px 0px 10% 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: initial;
        width: 100%;

    }
    .portrait
    {
        width: 40%;
    }
    .list-div1-front, .list-div2-front, .list-div3-front
    {
        
    } */
}