@import "./typography.css";

.contactdiv > p {
    font-family: LeagueSpartan;
    padding: 3px 0px 0px 5px;
    margin: 0px;
    font-size: 14px;
}

.topbarmain, .topbarleft {
    padding: 0px;
    margin: 0px;
    height: 25px;
    display: flex;
    justify-content: space-around;
}

.topbarmain {
    background-color: #FEC961;

}

.topbarleft {
    width: 70%;
}

.topbarright1, .contactdiv {
    display: flex;
    align-items: center;
}